
@{
    ViewBag.Title = "AddInBox";
}

<h2>Продукт добавлен</h2>


@Html.RouteLink("Перейти к заказу", new { controller = "Order", action = "Index" }, new { @class = "btn btn-default" })

@Html.RouteLink("Вернутся к списку товаров", new { controller = "Product", action = "Index" }, new { @class = "btn btn-default" })