@model IEnumerable<OnlineStore_Epam2018.Models.CategoryViewModel>

@foreach (OnlineStore_Epam2018.Models.CategoryViewModel item in Model)
{
<table>
    <p>
        @*<td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>*@

    <td>
        @Html.ActionLink(item.CategoryName, "IndexSearch", new { categoryId = item.Id })
    </td>
    </p>
</table>
}





