@model IEnumerable<OnlineStore_Epam2018.Models.CategoryViewModel>

@foreach (OnlineStore_Epam2018.Models.CategoryViewModel item in Model)
{
<p>
    @*@Html.DisplayFor(modelItem =>item.CategoryName)*@
    @Html.RouteLink(item.CategoryName, new { controller = "Product", action = "IndexSearch", id = item.CategoryId }, new { @class = "btn btn-default" })
    @Html.Action("SubCategoryList", "Product", new { id = item.CategoryId })
</p>
}