@{
    ViewBag.Title = "Index";
    AjaxOptions options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("OrdersData")
    };
}
<link href="~/Content/StyleTest.css" rel="stylesheet" />
<body>

</body>
<p></p>
@using (Ajax.BeginForm("Index", "Home", options, htmlAttributes: new { @id = "myForm" }))
{
    <div id="indexPage" style="color:black">
        <table cellpadding="6">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>CategioryId</th>
                    <th>SeasonId</th>
                    <th>Picture</th>
                    <th>Description</th>
                    <th>Count</th>
                    <th>Price</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tabledata">
                @Html.Action("OrdersData", new { Category = Model, Season = Model })
            </tbody>
        </table>
    </div>
    <p>
        <table>
            <tr>
                <td><h4>   Category   </h4></td>
                <td><h4>            </h4></td>
                <td><h4>    Serasons    </h4></td>
            </tr>
            <tr>
                <td>@Html.DropDownList("Category", new SelectList(new[] { "1", "2", "3" }, (Model ?? "All")), htmlAttributes: new { @form = "myForm", @class = "form-control selectlist" })   </td>
                <td> </td>
                <td>@Html.DropDownList("Season", new SelectList(new[] { "1", "2", "3" }, (Model ?? "All")), htmlAttributes: new { @form = "myForm", @class = "form-control selectlist" })  </td>
                @*<td><input id="buttonController" type="submit" value="Search" /></td>*@
            </tr>
        </table>

    </p>

}
@section scripts{
    <script src="~/Scripts/mainScript.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/JavaScriptTest.js"></script>
}
}


