@model IEnumerable<OnlineStore_Epam2018.Models.CategoryViewModel>

@foreach (OnlineStore_Epam2018.Models.CategoryViewModel item in Model)
{
    <p>
       - @Html.RouteLink(item.CategoryName, new { controller = "Product", action = "IndexSearch", id = item.CategoryId }, new { @class = "btn btn-default" })
    </p>
}