@model OnlineStore_Epam2018.Models.ProductViewModel

@{
    AjaxOptions options = new AjaxOptions()
    {
        UpdateTargetId = "tabledata",
        Url = Url.Action("OrdersData")
    };
}
<h2>Поиск</h2>
<body>
</body>
    <table style="float:initial" ;>
        <tr>
            <th>
                Имя
            </th>
            <th>
                Продукты
            </th>
            <th>
                Цена от
            </th>
            <th>
                до
            </th>
        </tr>
        <tr>
            <th>
                <input type="text" id="searchName" class="form-control" />
            </th>
            <th>
               
                @Html.DropDownList("CategoryName", new SelectList(Model.CategoryList.Where(m => m.ParentId != 0), "CategoryId", "CategoryName"), "Все", htmlAttributes: new { @class = "form-control selectlist" })
            </th>
            <th>
                <input type="number" id="minValue" class="form-control" />
            </th>
            <th>
                <input type="number" id="maxValue" class="form-control" />
            </th>
            <th>
                <input type="submit" value="Найти" class="btn btn-default" id="buttonSearchId" />
            </th>
        </tr>
    </table>

    <table cellpadding="6">
        <thead>
            <tr>
                <th></th>
                <th>Имя</th>
                <th>Категория</th>
                <th>Сезон</th>
                <th>Описание</th>
                <th>Колличество</th>
                <th>Цена</th>
            </tr>
        </thead>
        <tbody id="searchResult">

        </tbody>
    </table>
@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/SearchScript.js"></script>
}
<p>

</p>



