<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
          <basicHttpBinding>
            <binding name="BasicHttpBinding_INewWebService" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647">
              <security mode="None" />
            </binding>
          </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51702/NewWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewWebService"
                contract="ServiceReferenceWCF.INewWebService" name="BasicHttpBinding_INewWebService" />
        </client>
    </system.serviceModel>
</configuration>

