<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Publicity.xml" value="D:\\REPOSITORY\\OnlineStore\\Publicity.xml"/>
  </appSettings>
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFirstWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:51702/FirstWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFirstWebService"
                contract="FirstWebServiceReference.IFirstWebService" name="BasicHttpBinding_IFirstWebService" />
        </client>

     
  </system.serviceModel>
</configuration>

