<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="Publicity.xml" value="D:\\REPOSITORY\\OnlineStore\\Publicity.xml"/>
  </appSettings>-->
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INewWebService" />
            </basicHttpBinding>
        </bindings>
        <client>
          <!--http://localhost:51702/NewWebService.svc-->
          
            <endpoint address="http://localhost:51702/NewWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewWebService"
                contract="NewServiceReference.INewWebService" name="BasicHttpBinding_INewWebService" />
        </client>
  </system.serviceModel>

</configuration>

