<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="Publicity.xml" value="D:\\REPOSITORY\\OnlineStore\\Publicity.xml"/>
  </appSettings>-->
  
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INewWebService" maxBufferSize="20000000"
                 maxBufferPoolSize="20000000">
            <readerQuotas maxDepth="32" 
                 maxArrayLength="200000000"
                 maxStringContentLength="200000000"/>
                   </binding>
            </basicHttpBinding>
        </bindings>
 

        <client>
          <!--http://localhost:51702/NewWebService.svc-->
          
            <endpoint address="http://localhost:51702/NewWebService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INewWebService"
                contract="NewServiceReference.INewWebService" name="BasicHttpBinding_INewWebService" />
        </client>
  </system.serviceModel>

</configuration>

